@use "../shared/variables" as *;

.pricing__plans {
  width: 100%;
  max-width: 57rem;
  margin: $spacing-gap-large 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__plan {
  width: 100%;
  background-color: $color-bg-light;
  border-radius: 0.625rem;
  padding: $spacing-card-padding;
  text-align: center;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  @media (min-width: var(breakpoint-tablet)) {
    width: calc(33.333% - 0.833rem);
  }

  @media (min-width: var(breakpoint-small-desktop)) {
    width: calc(33.333% - 1rem);
  }

  &--popular {
    background-color: $color-text-dark;
    color: $color-text-light;

    @media (min-width: var(breakpoint-tablet)) {
      order: -1;
    }
  }

  &-package {
    font-size: $font-size-topper;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
  }

  &-price {
    font-size: $font-size-header;
    font-weight: 700;
    margin-bottom: 0.3125rem;
  }

  &-frequency {
    font-size: $font-size-body;
    margin-bottom: 1.25rem;
  }

  &-description {
    font-size: $font-size-body;
    line-height: 1.5;
    margin-bottom: 1.875rem;
  }
}
