body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--color-light-gray);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
